@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');



:root{
    --color-primario: #dbc204de;
    --color-blanco:#ffffff;
    --color-secundario:#DB1A7E;
    --color-terceario:#1A5FDB;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}


/* barra de navegacion */
#carritoConteo{
    color: aliceblue;
}
#carritoConteo:hover{
    transform: scale(1.05);
    color:var(--color-secundario);
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__logo{
    width: 180px;
}

.navbar__lista{
    list-style: none;
    display: flex;
    
}

.navbar__elemento{
    align-content: flex-start;
    margin: 10px;
    color: #ffffff;
    list-style: none;
    border-radius: 5px;
    
}

.navbar__link{
    text-decoration: none;
    color:#ffffff;
    margin: 25px;
    font-weight: 500;
}

.navbar__link:hover{
    transform: scale(1.05);
    color:var(--color-secundario);
}
.bx-cart-alt{
    color: white;
}
.bx-cart-alt:hover{
    transform: scale(1.05);
    color:var(--color-secundario);
}

.navbar i{
    font-size: 30px;
    margin-left: 20px;
}

.navbar__carrito{
    display: flex;
    flex-direction: column;
}


/* seccion inicio */
.inicio{
    background-image: url(/estilos/articulo-papeleria-distribuidora-1024x576.webp);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo__presentacion{
    width: 70%;
}

/* seccion de productos */

.productos__titulo{
    display: block;
}

.productos{
    text-align: center;
    padding: 30px;
}

.titulos__general{
    margin: 20px;
}

.productos__container{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* tablas de productos */

.card{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px #0000007e;
    text-align: center;
    margin:40px;
    overflow: hidden;
}

.productos__card:hover * {
    transform: scale(1.05); 
}

.card__prueba{
    width: 90%;
    height: 45%;
    margin: auto;
}

.card__titulo{
    margin: 10px 0px;
    
}

.card__calificacion{
    margin: 10px;
    color: yellow;
}

.card__ahora{
    background-color: #0A808F;
    height: 15vh;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.card__carrito{
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    font-family: 'roboto';
}

.card__precio{
    font-size: 20px;
    font-weight: bold;
    color:var(--color-secundario);
    
}
.card__valor{
    font-size: 17px;
    font-weight: bold;
    font-style: oblique;
}

.card__carrito{
    color: #ffffff;
    font-size: 20px;
}

.compra{
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
}



/* footer */

.footer{
    text-align: center;
    background: linear-gradient(180deg, rgba(26,197,219,1) 19%, rgba(7,13,250,1) 100%);
}

.footer__seccion{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer__redes{
    display: flex;
    list-style: none;
    margin: auto;
}

.footer__sociales i{
    font-size:50px;
    color: var(--color-blanco);
    margin: 0 20px;
}
.bxl-facebook-square:hover {
    transform: scale(1.05);
    color:var(--color-primario);

}
.bxl-instagram:hover {
    transform: scale(1.05);
    color:var(--color-primario);
}
.bxl-amazon:hover{
    transform: scale(1.05);
    color:var(--color-primario);
}
.bxl-ebay:hover{
    transform: scale(1.2);
    color:var(--color-primario);
}
.footer__logo{
    width: 200px;
    margin: 8px 0;
}

.footer__copyright{
    font-size: 20px;
    color: var(--color-blanco);
    font-family: 'roboto';
    margin: 8px 0;
}

.footer__terminos{
    color: var(--color-blanco);
    font-family: 'roboto';
}

/* seccion carrito de compras  */



.carrito__compras{
text-align: center;
padding: 20px;
}

.producto__creado {
    width: 200px;
}

.producto__creado img{
    width: 200px;
}
